/* styles.css */

:root {
    --card-height: 600px; /* Define a CSS variable for card height */
    --card-width: 350px;
    --row-height: 100px;
}

/* Existing styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #050505;
    /* width: 80%; */
}

.app-title {
    width: 100%;
    justify-content: center;
    white-space: nowrap;
}

.main-info-row {
    background: grey;
}

h1 {
    color: #007bff;
}

.card {
    margin-bottom: 20px;
    /* height: var(--card-height); */
    width: var(--card-width);
    /* background: linear-gradient(to bottom, #4CAF50, #013003); Gradient color for background */
    background: grey;
    border: 3px solid #e29403; /* Border color */
    border-radius: 10px; /* Optional: Add border-radius for rounded corners */
    transition: transform 0.3s ease; /* Add transition property for transform */
}

.card:hover {
    transform: scale(1.10); /* Enlarge the card on hover */
}

.card-img {
    opacity: 80%;
    background-color: white;
}

.card-img-overlay {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}

.card-title {
    font-size: 2em;
    color: white;
    font-weight: bold;
}

.card-text {
    font-size: 1.2em;
}

.card-title-row {
    width: 100%;
    text-align: left;
    /* height: var(--row-height)*1.2; */
    text-align: center;
    justify-content: center;
    padding: 10px;
}

.card-info-row {
    width: 100%;
    padding: 10px;
    /* justify-content: left; */
}

.card-info-col {
    /* width: 15%; */
    text-align: center;
    white-space: nowrap;
    padding: 10px;
    color: white;
    /* background-color: #3a3732; */
    /* border-radius: 10px; */
}

.info-title {
    font-size: large;
    font-weight: bold;
}

.info-content {
    font-size: medium;
}

.card-button-row {
    width: 100%;
    /* height: var(--row-height); */
    padding: 10px;
}

/* Additional styles for the grid layout */
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    justify-content: center; /* Align cards to the center horizontally */
}

.col {
    flex: 0 0 100%;
    /* padding: 15px; */
    /* height: var(--card-height); */
}

.md-r {
    width : 100%
}

.md-c {
    width : 100%
}

.btn-on {
    color : greenyellow
}

.btn-off {
    color: grey
}

@media (max-width: 350px) {
    .col {
        flex: 0 0 100%;
    }
}

@media (max-width: 800px) {
    .col {
        flex: 0 0 50%;
    }
}

@media (max-width: 1100px) {
    .col {
        flex: 0 0 33.33%;
        /* justify-content: left; */
    }
}

@media (max-width: 1500px) {
    .col {
        flex: 0 0 25%;
    }
}

@media (min-width: 1500px) {
    .col {
        flex: 0 0 10%;
    }
}

/* New styles for modal size */
.modal-xl {
    max-width: 100%;
}

.modal-lg {
    max-width: 75%;
}

.modal-md {
    max-width: 60%;
}

.modal-sm {
    max-width: 50%;
}
